@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
}

.main-font {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.space-font {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

main {
    margin: 0 auto;
    max-width: 624px;
    width: 100%;
    position: relative;
}

i {
    margin: 0;
    padding: 0;
}

section {
    margin-top: 100px;
    padding: 0px 0px;
}