.volunteering-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.apiv-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-span {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.apiv-card:hover .hover-span {
    opacity: 1;
    transform: translateX(0);
}


