@import "./data/Data.css";

.card-highlight {
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    height: 100%;
    transition: all 0.1s ease-in-out;
}

.highlight-title {
    background-color: #F3F3F3;
    padding: 4px 8px;
    color: #000;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.view-detail-btn {
    cursor: pointer;
    background-color: #fff;
    padding: 4px 8px;
    color: #000;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;;
}

.card-highlight:hover .view-detail-btn{
    background-color: #000;
    color: #fff;
}
