.card-project {
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    height: 100%;
    transition: all 0.1s ease-in-out;
}

.card-project:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.project-img {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #eee;
}

.project-title {
    background-color: #eee;
    padding: 4px 8px;
    border-radius: 30px;
}

.project-skill-container {
    padding: 12px 4px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.project-link-container {
    position: absolute;
    bottom: 2px;
    left: 10px;
    padding: 6px 0px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.project-link {
    cursor: pointer;
    background-color: #000;
    padding: 2px 6px;
    color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.project-link:hover {
    background-color: #bebebe;
}


.project-skill {
    cursor: pointer;
    background-color: #F3F3F3;
    padding: 2px 6px;
    color: #000;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.project-skill:hover {
    background-color: #dadada;
}

.project-title-header {
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 8px;
}