.card-project {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    height: 100%;
}

.project-img {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #eee;
}

.project-title {
    background-color: #eee;
    padding: 4px 8px;
    border-radius: 30px;
}

.project-skill-container {
    padding: 12px 4px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.project-skill {
    cursor: pointer;
    background-color: #F3F3F3;
    padding: 2px 6px;
    color: #000;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.project-skill:hover {
    background-color: #dadada;
}