@import "./data/Data.css";

.skill-container {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.skill-card {
    cursor: pointer;
    background-color: #1b1b1b;
    padding: 2px 6px;
    color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.skill-card:hover {
    background-color: #434343;
}