@import "../data/Data.css";

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.header-container {
    position: fixed;
    bottom: 16px;
    padding: 0;
}

.ul {
    position:relative;
    background-color: var(--main-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 12px 20px;
}

li {
    padding: 0;
    margin: 0;
}

.menu-item {
    margin: 0;
    color: var(--border-color);
    font-size: 18px;
    transition: all 0.1s ease-in-out;
}

.menu-item:hover {
    color: #464646;
}

.menu-item.active {
    color: #464646;
}

.dark-mode-container {
    cursor: pointer;
    position: fixed;
    right: 24px;
    bottom: 24px;
    color: #464646;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

