@media (min-width: 1024px) {
    .ul {
        padding: 12px 20px;
    }

    section {
        margin-top: 100px;
        padding: 0px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .ul {
        padding: 12px 20px;
    }

    section {
        margin-top: 100px;
        padding: 0px 0px;
    }
}

@media (max-width: 767px) {
    .ul {
        padding: 10px 18px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    section {
        margin-top: 50px;
        padding: 0px 18px;
    }

    .project-img {
        height: 200px;
    }
}

@media (max-width: 575px) {
    .ul {
        padding: 8px 16px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    section {
        margin-top: 50px;
        padding: 0px 15px;
    }

    .project-img {
        height: 180px;
    }
}
